# Django #
*.log
*.pot
*.pyc
__pycache__

# Backup files # 
*.bak 

# We choose to commit media files
# We choose to commit the database, db.sqlite3

# We choose NOT to commit ./static/ (except the admin files, they're ok)
# ./static/ should be built in production with 'collectstatic'
# However, wyvri_com/static absolutely SHOULD be committed 
static/**/*.png
static/**/*.jpg
static/**/*.css
# this line doesn't work. I am counting on admin stuff to not-change and already be indexed.
!static/admin

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# sftp configuration file 
sftp-config.json 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history