{% include 'base.html' %}

  <head>
    <title>about wyvri</title>
    <style>

        #intro {
          font-weight: bold;
        }

    </style>
  </head>
{% block content %}
  <body>
    <div class="top">
      <h1 id="header">about me.</h1>
    </div>
    
    <section id=wyvern>
      <h2>Hello!</h2>
      <p>
        <span id="intro">My name is Wyvern, I'm an artist who's currently learning to code.</span> <br>
        Greetings! I'm back once again in the grand year of 2024! I'm hoping to improve this website a bit every year :) <br>
        My goal this year is to construct the gallery page, which is supposed to display some art I'm proud of. Think of it like a portfolio. <br>
        ...Perhaps I'll even make a blog page, though maybe that's a project for next year. We'll see! <br>
      </p>
      <img src="/../static/guy.png" alt="Drawing of my persona with shorter hair."></img>
    </section>
  </body>
{% endblock %}
</html>